<ion-header>
  <ion-toolbar>
    <ion-title> {{ isLogin ? "Login" : "Sign Up" }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #F="ngForm" (ngSubmit)="onSubmit(F)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input
                type="email"
                email
                ngModel
                name="email"
                required="true"
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <p>Invalid e-mail</p>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required="true"
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <p>Invalid password</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="button"
            fill="clear"
            expand="block"
            color="primary"
            (click)="onSwitchMode()"
          >
            Switch to {{ isLogin ? "Sign Up" : " Login" }}
          </ion-button>
          <!-- *ngIf="!isLoading" -->
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            (click)="onLogin()"
          >
            <!-- [disabled]="F.invalid" -->
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="ion-text-center">
    <ion-spinner *ngIf="isLoading" class="ion-margin"></ion-spinner>
  </div> -->
</ion-content>
