<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Place-Booking-App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="earth-outline"></ion-icon>
          <ion-label>Discover Places</ion-label>
          <ion-icon name="happy-outline"></ion-icon>
          <ion-label>Discount Offers</ion-label>
          <ion-icon name="file-tray-stacked-outline"></ion-icon>
          <ion-label>Your Bookings</ion-label>
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
