.--ion-label {
  border: 1px solid var(--ion-color-tertiary);
  border-radius: 8px;
  padding-left: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.--span {
  margin-right: 8px;
  margin-left: 8px;
}

h1 {
  color: purple;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
